version: 2.1

jobs:
  single_long_job:
    docker:
      - image: cimg/base:current
    resource_class: small
    steps:
      - run:
          name: "Sleep for 10 minutes"
          command: "sleep 600"

workflows:
  job_32:
    jobs:
      - single_long_job
