version: 2.1

# --- TEMPLATES ---
job_templates:
  # Template for the 27 long-running jobs (10 minutes)
  long_sleep_job: &long_sleep_job
    docker:
      - image: cimg/base:current
    resource_class: small
    steps:
      - run:
          name: "Sleep for 10 minutes"
          command: "sleep 600"

  # Template for generic short jobs (we will override the time)
  short_sleep_job: &short_sleep_job
    docker:
      - image: cimg/base:current
    resource_class: small

# --- JOB DEFINITIONS ---
jobs:
  # The 3 Short Jobs
  job_1_60s:
    <<: *short_sleep_job
    steps:
      - run:
          name: "Short Sleep 60s"
          command: "sleep 60"

  job_2_90s:
    <<: *short_sleep_job
    steps:
      - run:
          name: "Short Sleep 90s"
          command: "sleep 90"

  job_3_120s:
    <<: *short_sleep_job
    steps:
      - run:
          name: "Short Sleep 120s"
          command: "sleep 120"

  # The 27 Long Jobs (Using the 10-minute template)
  job_4:
    <<: *long_sleep_job
  job_5:
    <<: *long_sleep_job
  job_6:
    <<: *long_sleep_job
  job_7:
    <<: *long_sleep_job
  job_8:
    <<: *long_sleep_job
  job_9:
    <<: *long_sleep_job
  job_10:
    <<: *long_sleep_job
  job_11:
    <<: *long_sleep_job
  job_12:
    <<: *long_sleep_job
  job_13:
    <<: *long_sleep_job
  job_14:
    <<: *long_sleep_job
  job_15:
    <<: *long_sleep_job
  job_16:
    <<: *long_sleep_job
  job_17:
    <<: *long_sleep_job
  job_18:
    <<: *long_sleep_job
  job_19:
    <<: *long_sleep_job
  job_20:
    <<: *long_sleep_job
  job_21:
    <<: *long_sleep_job
  job_22:
    <<: *long_sleep_job
  job_23:
    <<: *long_sleep_job
  job_24:
    <<: *long_sleep_job
  job_25:
    <<: *long_sleep_job
  job_26:
    <<: *long_sleep_job
  job_27:
    <<: *long_sleep_job
  job_28:
    <<: *long_sleep_job
  job_29:
    <<: *long_sleep_job
  job_30:
    <<: *long_sleep_job


# --- WORKFLOWS ---
workflows:
  # Keep your original workflow logic
  say-hello-workflow_orig:
    when:
      equal: [<<pipeline.project.git_url>>, https://github.com/anonymoustest03/gatest1-03]
    jobs:
      - job_1_60s

  # This is the workflow that will run on your FORK
  say-hello-workflow_from_fork:
    when:
      not:
        equal: [<<pipeline.project.git_url>>, https://github.com/anonymoustest03/gatest1-03]
    jobs:
      # The 3 short jobs
      # - job_1_60s
      - job_2_90s
      # - job_3_120s
      

